

body {
  margin: auto;
  padding: 50px;
  padding-top: 0px;
  font-family: 'Questrial', sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 70px;
  margin: 0px;
  text-shadow: 10px 10px #FFDCE1;
  padding-top: 20px;
}

h2 {
  font-family: 'Questrial', sans-serif;
}

h3 {
  font-family: 'Questrial', sans-serif;
  padding-left: 45px;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-shadow: 5px 5px #FFDCE1;
}

.maintext {
  font-family: 'Questrial', sans-serif;
  line-height: 2;
  padding-left: 45px;
  max-width: 700px;
}


.navigation li {
  display: inline-block;
  padding: 10px;
  margin: 0px;
  list-style: none;
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #FFDCE1;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  }

header {
text-align: right;
padding-right: 10px;

}

img {
  width: 320px;
  padding: 18px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.images li {
  display: inline-block;
  list-style: none;
}

img:hover {
  -webkit-filter: grayscale(100%);

  -moz-transform: scale(.8);
  -webkit-transform: scale(.8);
  -o-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    bottom: 90%;
    left: 50%;
    margin-left: -160px;
    color: black;
    text-align: center;
    padding: 0px 0;
    border-radius: 0px;
    position: absolute;
    z-index: 1;
    font-family: 'Shrikhand', cursive;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.spotify {
  float: right;
  padding-top: 60px;
  padding-right: 45px;
}

.box1 {
  width: 150px;
  height: 150px;
  border: solid #FFDCE1;
  border-width: thick;
  float: left;
  margin-left: 45px;
  margin-right: 55px;
  margin-top: 60px;
}

.box2 {
  width: 150px;
  height: 150px;
  border: solid #FFDCE1;
  border-width: thick;
  float: left;
  margin-left: 45px;
  margin-top: 60px;
  margin-right: 55px;
}

.box3 {
  width: 150px;
  height: 150px;
  border: solid #FFDCE1;
  border-width: thick;
  float: left;
  margin-left: 45px;
  margin-top: 60px;
}

.box4 {
  width: 100px;
  height: 100px;
  border: solid #FFDCE1;
  border-width: thick;
  float: left;
  margin: 20px;
}

.box5 {
  width: 100px;
  height: 100px;
  border: solid #FFDCE1;
  border-width: thick;
  float: left;
  margin: 20px;
}

.box6 {
  width: 100px;
  height: 100px;
  border: solid #FFDCE1;
  border-width: thick;
  float: left;
  margin: 20px;
}

.box7 {
  width: 50px;
  height: 50px;
  border: solid #FFDCE1;
  border-width: thick;
  float: left;
  margin: 20px;
}

.box8 {
  width: 50px;
  height: 50px;
  border: solid #FFDCE1;
  border-width: thick;
  float: left;
  margin: 20px;
}

.box9 {
  width: 50px;
  height: 50px;
  border: solid #FFDCE1;
  border-width: thick;
  float: left;
  margin: 20px;
}

.pen {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 20px;
}
